@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dpsodnurd/image/upload/c_scale,w_1682/v1652532186/alfons-morales-YLSwjSy7stw-unsplash_l2atpj.jpg");
   
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
