
<nav class="bg-dark border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item text-white p-2 d-none d-lg-block">Free shipping when you spend €50!</li>
      
    </ul>
    <ul class="nav">
      {% if user.is_authenticated %}
      {% if user.is_superuser %}
 
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-2 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Manage Site
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'blog' %}">Manage Products</a></li>
          <li><a class="dropdown-item" href="{% url 'blog' %}">Manage Blog</a></li>
          <li><a class="dropdown-item" href="{% url 'blog' %}">Customer Orders</a></li>
          <li><a class="dropdown-item" href="{% url 'blog' %}">Custom Requests</a></li>
         
          
        </ul>
      </li>
      {% endif %}
      {% endif %}
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}" class="nav-link px-2 text-white">My Profile</a></li>
      <li><a href="{% url 'account_logout' %}" class="nav-link px-2 text-white">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}" class="nav-link px-2 text-white">Log In</a></li>
      <li><a href="{% url 'account_signup' %}" class="nav-link px-2 text-white">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Electric <i class="bi bi-lightning-charge-fill"></i> Dreams</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
           
            {% for product_category in product_category_list %}
            <li><a class="dropdown-item" href="/category/{{ product_category.name}}">
              {{ product_category.name }}
            </a>
          </li>
            {% endfor %}
  
          </ul>
        </li>
       
      
       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'blog' %}">All Posts</a></li>
            <!-- get list of categories from database -->
            {% for category in blog_category_list %}
            <li><a class="dropdown-item" href="{% url 'category-view' category.name %}">
                {{ category.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Request Artwork</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">My Wishlist</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            My Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'blog' %}">My Orders</a></li>
            <li><a class="dropdown-item" href="{% url 'blog' %}">My Details</a></li>
           
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav ms-auto">
       
     <li> <a href="{% url 'search_page' %}" class="nav-link px-2"><i class="bi bi-search"></i> Search  </a> </li>

     <li><a href="{% url 'view_bag' %}" class="nav-link px-2"> Cart: <i class="bi bi-bag-fill"></i> 
      {% if grand_total %}
      ${{ grand_total|floatformat:2 }}
  {% else %}
      $0.00
  {% endif %}
    </a> </li>
      </ul>
    </div>
   
  </div>

</nav>




