{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1 class="display-4 text-success">It blogs!</h1>


    <a class="btn btn-warning btn-lg mt-2 mb-2" href="{% url 'create_blog_post' %}">New Post</a>

<div class="d-flex justify-content-between align-items-center">
    <p class="lead ml-0">My Films</p>
    <form hx-post="{% url 'add-category' %}" hx-target='#categories' class="d-flex align-items-center">
        {% csrf_token %}
        <input type="text" 
            id="filmname-input"
            name="categoryname" 
            class="form-control-sm mr-2" 
            placeholder="Enter a film" />
        <button type="submit" class="btn btn-success btn-sm">Add Category</button>
    </form>
</div>
<hr/>

<div>
  
    <h1>Cats:</h1>
    {% include "blog/HTMXsnippets/categories-list.html" %}


</div>


<br>
<br>
<br>

<div>
  
    <h1>Blogs:</h1>
    {% include "blog/HTMXsnippets/posts-list.html" %}


</div>

{% endblock %}