{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

    <h4 class="display-6 fw-bold py-4 text-center">{{categorylist.cat}} Blog Posts</h4>
  

    <div class="album py-5 bg-light">
        <div class="container">
           
               
               
            
         
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
           
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
                <div class="card-body">
                  <p class="card-text">{{post.title}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{ post.get_absolute_url }}">Link</a>
                      HERE
                      <button type="button" class="btn btn-sm btn-outline-secondary">View Post</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                    </div>
                    <small class="text-muted">{{post.category}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          
   
          
       
       
          </div>
        </div>
      </div>
    
      <div>
       <br>
       <br>
      </div>
   
{% endblock %}