{% extends "base.html" %}
{% load static %}


{% block content %}
<div>
    <label >Make</label>
    <select name="ranking" hx-get="{% url 'products_ranking' %}" hx-target="#prod-list" >
        
        <option value="price_asc">Price (low to high)</option>
        <option value="price_desc" >Price (high to low)</option>
        <option value="rating_asc" >Rating (low to high)</option>
        <option value="rating_desc" >Rating (high to low)</option>
        <option value="name_asc" >Name (A-Z)</option>
        <option value="name_desc" >Name (Z-A)</option>
       
    </select>
  </div>
  <div id="prod-list">
   
    {% include "products/snippets/product-list.html" %}
</div>


   
   
{% endblock %}
