{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block page_header %}

{% endblock %}

{% block content %}


<div class="container my-5">
    <div class="row">
        <div class="col-lg-6  ">
            <img class="img-fluid" src="{{ product.image.url }}" alt="">
        </div>
        <div class="col-lg-6">
            <p class="display-5 fw-bold">{{product.name}}</p>

            <h3>€{{product.price}}</h3>

            <p class=" text-warning"> <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p>

            <p>{{product.description |linebreaks}}</p>












            <div class="col-lg-6 d-grid gap-2">
                {% include "products/includes/wishlist_snippet.html" %}

                <form class="form " action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row col-lg-12 d-grid gap-2">


                        <select class="form-select mb-3" name="quantity">

                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>

                        </select>

                        <input type="submit" class="btn btn-outline-success mb-3" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    
           
            </form>
            <a class="btn btn-outline-dark mb-3" href="{% url 'products' %}" role="button">Continue Shopping</a>
           
           
        </div>
        </div>







    </div>
</div>

<!-- <div class="my-5  bg-light ">
    sdserg
</div> -->

<div class="px-2 py-2 my-5 text-center bg-light">

    <h1 class="display-5 fw-bold ">Reviews</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here you can add, edit and delete products on your site.</p>

    </div>
</div>

</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}